MATRIX_HOMESERVER=
MATRIX_USERNAME=
MATRIX_PASSWORD=
# You can use a token instead of a password
MATRIX_TOKEN=
# You can leave it blank or enter your own
MATRIX_DEVICE=reminder-bot-device

# Timezone for reminders
# TZ=Etc/UTC

# Language for bot messages
LANG_APP=en
# Alternative to !remind command to call the bot in a room
# Enter wihout exclamation mark
LANG_BOT_COMMAND=